# Ignore local artifacts
artifacts/faiss_store.pkl

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Misc system files
.DS_Store
Thumbs.db

# Streamlit config
.streamlit/
